h1{
    text-align: center;
    margin: 0 auto;
    font-size: 3rem;
}

.arena{
    width: 100%;
    .layout(center, center);
}

.column{
    width: 50%;
    .layout(center, center);
    flex-direction: column;

}